header {
    display: block;

    width: 100%;
    text-align: center;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
}


header #newGame {
    display: block;

    margin: 20px auto;
    width: 100px;
    padding: 10px 10px;
    border-radius: 10px;

    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

    color: white;
    background-color: #8f7a66;
}

#newGame:active {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px #000;
}

header p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 10px auto;
}

#grid-container {
    position: relative;

    width: 460px;
    height: 460px;
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;

    background-color: #bbada0;
}

.grid-cell {
    position: absolute;

    width: 100px;
    height: 100px;
    border-radius: 6px;
    background-color: #ccc0b3;
}

.number-cell {
    position: absolute;

    border-radius: 6px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 60px;
    line-height: 100px;
    text-align: center;
    
}

@keyframes myAnimation {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0.4);
    }
    80% {
        transform: scale(0.8);

    }
    100% {
        transform: scale(1);
    }
}